
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
}

.wrapper{
    min-height: 86vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,6,30,0.7),rgba(4,6,30,0.7)),url(Red.jpg);
    position: relative;
    background-position: center;
    background-size: cover;

}

/*Nav-links css*/
nav{
    display: flex;
    padding: 0.5% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 110px;
    height: 80px;
    margin-right: 500px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}

.nav-links ul li::after{
content: '';
width: 0%;
height: 2px;
background: #f44336;
display: block;
margin: auto;
transition: 0.5s;
}

.nav-links ul li:hover::after{
width: 100%;
}

/*Header css*/
.sites{
    margin-top: 130px;
    color: white;
    text-align: center;
}

.sites h1{
    font-size: 34px;
}

.sites p{
    line-height: 1.1;
    font-size: 14.5px;
}


#btn-1{
    background-color: #29458a;
    font-size:16px;
    font-weight: normal;
    font-family: sans-serif;
    border: 0.1px white solid;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    color:white;
    margin-left: 17px; 
    margin-bottom: 15px;
     transition-property:all ;
     transition-duration: 1s;
     height: 36px;
     width: 140px;
   
}

#btn-1:hover{
    color: #d4591f;
    font-size: 19px ;
    transform:scale(1.0)
}


#lang{
    font-size: 35px;
    font-family: arial;
    font-weight: 200px;
    color: black;
    text-align: center;
    margin-top: 140px;

}

button{
    font-size: 18px;
    background-color:rgb(32, 24, 75);
    border: solid black 0.11px;
    font-family: Arial;
    color: white;
    border-width: 3px;
    font-weight: normal;
    border-radius: 11px; 
    margin-left: 29px;
    margin-bottom: 32px;
    flex-direction: row; 
    transition-property: all; 
    transition-duration: 1s;
    height: 48px;
    width: 147px;
    border-bottom: 3px solid #c22d7f;
}

button:hover{
    background-color: #c22d7f;
    font-size:19px;
    transform: scale(1.1);
}

/*About us css*/

.us{
    text-align: center;
    font-size: 33px;
}

.we{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

/* IMP this is imp because we can ncrease and decrease the gap between  gallery pages*/
.section{
    width: 100%;
    min-height: 65vh;
}

.container{
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 18px;
    margin-left: 28px;
}

.content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
    height: 70%;
    margin-top: 19px;
   
}

.content-section .content p{
    margin-top: 20px;
    font-family: 'poppins';
    font-size: 16px;
    line-height: 1.1;
    margin-right: 30px;
}

.content-section .content ul li{
   margin-left: 38px;
   font-size: 16px;
   font-family:'poppins' ;
  
}

.en{
    font-size: 16px;
    font-family:'poppins' ;
    line-height: 1.2;
}

.content-section .content .button{
    margin-top: 14px;
}

.content-section .content .button a{
    border: solid 1px transparent;
    color: white;
    background-color: rgb(32, 24, 75);
    font-size: 15px;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 14px; 
}

.content-section .content .button a:hover{
    background-color: #774b63;
    color: white;
}

/*Gallery css*/

.text h1{
text-align: center;
font-size: 33px;
}

.text p{
    text-align: center;
    font-size: 21px;
}

.container-1{
    width: 1228px;
    min-height: 600px;
    background: #fff;
    margin: 60px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
   
}

.container-1 .box{
    position: relative;
    width: 280px;
    height: 250px;
    background: white;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.container-1 .box .imgBox-4{
    position: relative;
    overflow: hidden;
}

.container-1 .box .imgBox-4 img{
    max-width: 100%;
}

.container-1 .box:hover .imgBox-4 img{
    transform: scale(1.1);
}

/*Our services css*/
.texxt h1{
    margin-top: 40px;
text-align: center;
font-size: 36px;
}

.box-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*@keyframes colorAnimate{
    from{background-color: #c3dddd;} to
    {background-color: #29458a;}
}*/

.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: auto;
    border-radius: 9px;
    background-color: #c3dddd;
    text-align: center;
    margin: 25px;
    padding: 14px;
    transition: .3s;
}

.img-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 73px;
    border: 5px solid #c2e6e7;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 30px;
    -webkit-backdrop-size:cover;
    background-size: cover;
    background-position: center center;

}

.single-box:nth-child(1) .img-area{
    background-image: url(cctevt.png);
}


.single-box:nth-child(2) .img-area{
    background-image: url(gogle.png);
}

.single-box:nth-child(3) .img-area{
    background-image: url(youu.png);
}

.single-box:nth-child(4) .img-area{
    background-image: url(chat.png);
}

.single-box:nth-child(5) .img-area{
    background-image: url(w33.png);
}

.single-box:nth-child(6) .img-area{
    background-image: url(tuuto.png);
}

.single-box:nth-child(7) .img-area{
    background-image: url(tt.webp);
}

.single-box:nth-child(8) .img-area{
    background-image: url(tecch.png);
}

.single-box:nth-child(9) .img-area{
    background-image: url(proo.png);
}


.single-box:nth-child(10) .img-area{
    background-image: url(visual.png);
}

.header-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 21px;
}
.img-text{
font-family: 'poppins';
padding-top: 9px;
}

.img-text p{
font-size: 13px;
font-weight: 400;
line-height: 20px;
}
.single-box:hover{
background: #2c4785;
color: #fff;
}


/* Contact as person css*/

.contact h1{
    text-align: center;
    font-size: 33px;
    margin-top: 50px;
}
.container-2{
    width: 1240px;
    min-height: 360px;
    background: #fff;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

.container-2 .boxx{
    position: relative;
    width: 280px;
    height: 250px;
    background: white;
    margin: 6px;
    box-sizing: border-box;
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 17px;
}

.container-2 .boxx .imgBox-2{
    position: relative;

}

.container-2 .boxx .imgBox-2 img{
    max-width: 79%;
    border-radius: 50%;
   
}

.gmi img{
    size: 400px;
    width: 300px;
}

.roimg img{
    size: 300px;
}

/*Contact css*/

.contacts h1{
    font-size: 39px;
    text-align: center;
}
.box-areas{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.single-boxs{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    border-radius: 3px;
    background-color: #d5e2e6;
    text-align: center;
    margin: 25px;
    padding: 15px;
    transition: .3s;
}

.img-areas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 5px solid #c2ecfa;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-backdrop-size:cover;
    background-size: cover;
    background-position: center center;

}

.single-boxs:nth-child(1) .img-areas{
    background-image: url(smallee.png);
}

.single-boxs:nth-child(2) .img-areas{
    background-image: url(calll.png);
}

.single-boxs:nth-child(3) .img-areas{
    background-image: url(teele.png);
}

.header-texts{
    font-size: 25px;
    font-weight: 480;
    line-height: 30px;
}


.single-boxs:hover{
    background: #29458a;
    color: #fff;
    }

    
.sign-text{
    text-align: center;
    font-size: 13px;
    margin-top: 50px;
    font-family: arial;
}

.sign{
border: 1px solid rgb(88, 12, 85);
background-color: #29458a;
height: 28px;
width: 233px;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
font-weight: 400;
margin-left: 530px;
margin-top: 10px;
color:white;
font-family: arial;
}

.new{
text-align: center;
font-size: 12px;
margin-top: 8px;
font-family: arial;
}
    
/*Footer css*/

footer{
    margin-top: 60px;
}

.panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.91rem;
}


.panel1 p{
    color: white;
}

.panel2{
    background-color: #25394e;/*#222f3d;*/
    color: white;
    height: 340px;
    display: flex;
    justify-content: space-evenly;
}


ul{
    margin-top: 40px;
}

ul p{
    font-weight: 600;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}


.panel3{
    background-color: #25394e;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel4{
    background-color: black;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    height: 50px;
    border-top: 1px solid white;
    
}

.panel4 p{
    padding-top: 20px;
}










